body {
    overflow: hidden;
    margin: 0px;
    font-family: Roboto;
}
.container {
    display: grid;
    grid-template-columns: clamp(15%, 20%, 25%) 9fr;
    grid-template-rows: clamp(10%, 15%, 15%) 8fr;
    height: 100vh;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 3;
    background-color: #2272FF;
    display: grid;
    grid-template-columns: 5% 10%;
    grid-template-rows: 10% repeat(10, 5%);
    align-items: center;
    padding-left: 20px;
}

.header {
    grid-area: 1 / 2 / 2 / 2;
    background-color: #1d1d11;
}

.main {
    grid-area: 2 / 2 / 3 / 3;
    background-color: rgb(47, 58, 78);
}

.svg, .dash{
    width: 20px;
    fill: #FFFFFF;
    justify-self: center;
}

.dash {
    width: 48px;
}

.sidebar div:not(:nth-child(2)) {
    color: whitesmoke;
    font-size: 1rem;
    font-weight: 1000;
}

.logo {
    font-size: 1.65rem;
    color: whitesmoke;
    font-weight: 900;
}